<div class="contentWrapper" gdAreas=". . . | . main . | . . ." gdGap="10px" gdRows="10fr 60fr 10fr"
  gdColumns="19.1fr 61.80fr 19.1fr">
  <div class="contentContainer transluscentBack" gdArea="main">
    <div class="padding">
      <h2 mat-subheader>Portfolio</h2>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <h3 matLine>
            <a rel="noreferrer" target="_blank" href="https://play.google.com/store/apps/details?id=com.cyst.mazzumapp&hl=en">Mazzuma Mobile App</a>
          </h3>
          <p matLine>
            Cross platform app for mobile money payments.
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>
            <a rel="noreferrer" target="_blank" href="https://mazzuma.com"> Mazzuma Website</a>
          </h3>
          <p matLine>
            Mazzuma product website.
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>
            <a rel="noreferrer" target="_blank" href="https://wordpress.org/plugins/woo-mazzuma-payment-gateway/">Mazzuma WooCommerce Plugin</a>
          </h3>
          <p matLine>
            WordPress payment plugin for Mazzuma.
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>
            <a rel="noreferrer" target="_blank" href="https://developer.teamcyst.com">Mazzuma Developer Documentation</a>
          </h3>
          <p matLine>
            Developer documentation for Mazzuma.
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>
            <a rel="noreferrer" target="_blank" href="http://ghanawasteplatform.org/">Ghana Waste Platform Website</a>
          </h3>
          <p matLine>
            Website for the Ghana Waste Platform.
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>
            <a  target="_blank" href="https://insurance.teamcyst.com">CYST Insurance Hub</a>
          </h3>
          <p matLine>
            System for insurance claim management.
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>
            <a rel="noreferrer" target="_blank" href="https://insights.teamcyst.com">Insights By CYST</a>
          </h3>
          <p matLine>
            Article and social media sentiment analysis tool.
          </p>
        </mat-list-item>

      </mat-list>
    </div>

  </div>
</div>
