<div class="contentWrapper" gdAreas=". . . | . main . | . . ." gdRows.gt-xs="10fr 60fr 10fr" gdGap="10px"
  gdRows="10fr 80fr 10fr" gdColumns.gt-xs="19.1fr 61.80fr 19.1fr" gdColumns="10fr 80fr 10fr">
  <div class="contentContainer transluscentBack" gdArea="main">

    <div class="mx2" gdAreas="header | content" gdgap="5px" gdRows="10% auto" gdColumns="auto">
      <div gdArea="header" class="toolbar-container">
        <mat-toolbar class="py1" color="primary">
          <span class="">About</span>
        </mat-toolbar>
        <mat-divider></mat-divider>
      </div>

      <mat-accordion gdArea="content">
        <div class="bioText py3">
          <p>
            Hi. I'm Kwabena, a software developer and a <s>huge nerd</s> lover of all things technological.
          </p>
          <p>
            I'm proficient in working with HTML, CSS, Javascript, Angular, Ionic, PHP and Node JS. Basically full stack.
          </p>
          <p>
            I have a bachelors degree in Computer Engineering from the University Of Ghana.
          </p>
        </div>
      </mat-accordion>
    </div>

  </div>
</div>