<div class="contentWrapper" gdAreas=". . . | . main . | . . ." gdGap="10px" gdRows="10fr 60fr 10fr"
  gdColumns="18fr 61.80fr 18fr">
  <div class="contentContainer transluscentBack" gdArea="main">
    <div class="padding">
      <h2 mat-subheader>About</h2>
      <mat-divider></mat-divider>
      <p class="bioText">
        Hi. I'm Kwabena, a software developer and a <s>huge nerd</s> lover of all things technological. <br>
        I'm proficient in working with HTML / CSS / Javascript, Angular 8, Ionic 3, Ionic 4 and Node JS. <br>
        I have a bachelors degree in Computer Engineering from the University Of Ghana.<br>
      </p>
    </div>

  </div>
</div>
