<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id="main-content">
  <mat-sidenav-container fxFlex fxFlexAlign="center">

    <mat-sidenav class="transluscentBack" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" [ngStyle]="{'width': '66vw'}" [ngStyle.gt-xs]="{'width': '33vw'}" opened>
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>

      <button [fxShow]="!snav.opened" fxHide.gt-xs (click)="snav.toggle()" id="menuButton" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>