<div fxLayoutAlign="center stretch" fxLayout="column">
  <div fxFlex fxFill>
    <mat-sidenav-container>
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        [ngStyle]="{'width': '100vw'}" [ngStyle.gt-xs]="{'width': '33vw'}" opened>
        <app-menu></app-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
        <button [fxShow]="!snav.opened" fxHide.gt-xs (click)="snav.toggle()" id="menuButton" mat-fab>Menu</button>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <ng-particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></ng-particles>
</div>
