#appRoot{
  display: grid;
  grid-template-rows: 5% auto 10%;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-row-gap: 5px;

  #headerWrapper{
    grid-area: header;
  }

  #routerWrapper{
    grid-area: main;
  }

  #footerWrapper{
    grid-area: footer;
  }
}
