<div id="homeRoot">
  <div id="menu">
    <h1>Kwabena Manu</h1>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur dolore exercitationem voluptates labore soluta cupiditate deleniti nemo, fugit unde nesciunt? Nulla aspernatur reiciendis voluptate vel impedit tempore doloribus eum?</h4>
    <a href="" class="link">github</a>
    <a href="" class="link">linkedIn</a>
    <a href="" class="link">link</a>
    <a href="" class="link">link</a>
    <a href="" class="link">link</a>
  </div>
</div>
