@import '../../../media-queries.scss';
#homeRoot{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  #main{
    width: fit-content;
    height: fit-content;
    flex: 0.618;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    #bioContainer{
      flex: 0.5;
    }

    #linkContainer{
      flex: 0.3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

