<!-- <div>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <app-menu></app-menu>
      <a routerLink="/home/sentiment" routerLinkActive="router-link-active"  mat-button> Sentiment Analyser </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <a routerLink="'/home(mainContent:sentiment)'" routerLinkActive="router-link-active"  mat-button> Sentiment Analyser </a>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
 -->
<div id="homeWrapper" fxLayoutAlign="center stretch" fxLayout="column" >
  <ng-particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></ng-particles>



</div>
