<div gdAreas=". . . | . main . | footer footer footer" gdGap="10px" gdRows="10fr 60fr 10fr" gdColumns="5fr auto 5fr"
  id="menuWrapper">
  <div id="menuContent" gdArea="main">
    <div id="bio">
      <h1>Hi. </h1>
      <h2>I'm Kwabena Manu.</h2>
      <p>This is my website.</p>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutAlign="center stretch" id="menuLinks">
      <h4>Navigation</h4>
      <a routerLink="/about" routerLinkActive="router-link-active" mat-button> About </a>
      <a routerLink="/portfolio" routerLinkActive="router-link-active" mat-button> Portfolio </a>
      <mat-divider></mat-divider>
      <a mat-button rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/kwabena-manu/">LinkedIn</a>
      <a mat-button rel="noreferrer" target="_blank" href="https://github.com/KManu">Github</a>
      <a mat-button rel="noreferrer" target="_blank" href="https://twitter.com/KM__U">Twitter</a>
      <!--<mat-divider></mat-divider>
       <a routerLink="/credits" routerLinkActive="router-link-active" mat-button> Legal </a> -->
    </div>
  </div>
  <app-footer gdGridAlign="stretch end" gdArea="footer"></app-footer>
</div>
