/* You can add global styles to this file, and also import other style files */

@import 'theme.scss';
@import 'media-queries.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Quicksand:400,600,700&display=swap');

h1,
h2,
h3,
h4,
h5{
  font-family: 'Quicksand', sans-serif;
}

html, body, .fillParent{
  font-family: 'Open Sans', sans-serif;
}

.fillParent{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
